@tailwind base;
@tailwind components;
@tailwind utilities;

.image{
    background-image: url(./assets/images/login-image.jpg);
    /* object-fit: cover; */
   background-size:contain;
   /* background-position: center; */
   /* background-repeat: no-repeat; */
   /* width: 100%;
   height: auto; */
}

.img{
    background-image: url(./assets/images/signup-img.jpg);
}