@tailwind base;
@tailwind components;
@tailwind utilities;

.image{
    background-image: url(./assets/images/login-image.jpg);
   background-size:contain;
}

.img{
    background-image: url(./assets/images/signup-img.jpg);
}